<form id="apptRequestForm" ng-submit="apptCtrl.submitRequest(request)">

    <div class="controls">
		<client-info></client-info>
		<tattoo-info></tattoo-info>
		<reference-images></reference-images>
				
		<div class="row">
			<div class="col-md-12">
	        	<div class="form-group">
	            	<input type="submit" class="btn btn-primary btn-block btn-lg" value="Send Request">
	        	</div>
	    	</div>
    	</div>
	    
	    <div class="messages">
			<div ng-if="apptCtrl.appointmentRequest.state == apptCtrl.requestStates.SENT" class="alert alert-success" role="alert">{{apptCtrl.responseMessage}}</div>
			<div ng-if="apptCtrl.appointmentRequest.state == apptCtrl.requestStates.FAILED" class="alert alert-error" role="alert">{{apptCtrl.responseMessage}}</div>
		</div>

    </div>
</form>