<form id="contact-form" method="post" action="contact.php" role="form">

    <div class="messages"></div>

    <div class="controls">
		<h2>Contact Info</h2>
		<hr/>
		<client-info></client-info>
		<h2>Tattoo Info</h2>
		<hr/>
		<tattoo-info></tattoo-info>
		
		<div class="row">
			<div class="col-md-12">
	        	<div class="form-group">
	            	<input type="submit" class="btn btn-primary btn-block btn-lg" value="Send Request">
	        	</div>
	    	</div>
    	</div>
	    
    </div>

</form>