<form id="apptRequestForm" ng-submit="artistCtrl.submitRequest(request)">

    <div class="controls">
		<h2>Contact Info</h2>
		<hr/>
		<client-info></client-info>
		<h2>Tattoo Info</h2>
		<hr/>
		<tattoo-info></tattoo-info>
		
		<div class="row">
			<div class="col-md-12">
	        	<div class="form-group">
	            	<input type="submit" class="btn btn-primary btn-block btn-lg" value="Send Request">
	        	</div>
	    	</div>
    	</div>
	    
	    <div class="messages">
			<div ng-if="artistCtrl.requestState == artistCtrl.requestStates.SENT" class="alert alert-success" role="alert">{{artistCtrl.reponseMessage}}</div>
			<div ng-if="artistCtrl.requestState == artistCtrl.requestStates.FAILED" class="alert alert-error" role="alert">{{artistCtrl.reponseMessage}}</div>
		</div>

    </div>
</form>