<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <h4 for="firstName">First Name</h4>
            <input id="firstName" type="text" name="firstName" class="form-control" required="required" data-error="First name is required.">
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <h4 for="lastName">Last Name</h4>
            <input id="lastName" type="text" name="lastName" class="form-control" required="required" data-error="Last name is required.">
            <div class="help-block with-errors"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <h4 for="email">Email</h4>
            <input id="email" type="email" name="email" class="form-control" required="required" data-error="Valid email is required.">
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <h4 for="phoneNumber">Mobile Phone Number</h4>
            <input id="phoneNumber" type="tel" name="phoneNumber" class="form-control" required="required" data-error="Phone number is required.">
            <div class="help-block with-errors"></div>
        </div>
    </div>
</div>