<h2>Contact Info</h2>
<hr/>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <h4 for="firstName">First Name</h4>
            <input id="firstName" type="text" ng-model="artistCtrl.request.firstName" class="form-control" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <h4 for="lastName">Last Name</h4>
            <input id="lastName" type="text" ng-model="artistCtrl.request.lastName" class="form-control" required />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <h4 for="email">Email</h4>
            <input id="email" type="email" ng-model="artistCtrl.request.email" class="form-control" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <h4 for="phoneNumber">Mobile Phone Number</h4>
            <input id="phoneNumber" type="tel" ng-model="artistCtrl.request.phoneNumber" class="form-control" required />
        </div>
    </div>
</div>