<section class="section-gray" id="appt">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading">Appointment Request</h2>
                <div class="row">
                    <div class="col-md-6">
                        <form id="contact-form" method="post" action="contact.php" class="contact-form form">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="name" id="name" placeholder="First name" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="surname" id="surname" placeholder="Last name" required="required" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" placeholder="Email address" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="tel" name="telephone" id="telephone" placeholder="Mobile number" required="required" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <textarea rows="4" name="message" id="message" placeholder="What do you want to get?" required="required" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select class="form-control" id="placement" title="Testing" required>
                                                <option value="" disabled selected style="display: none;">Where do you want it?</option>
                                                <option value="Head">Head</option>
                                                <option value="Face">Face</option>
                                                <option value="Neck">Neck</option>
                                                <option value="Back">Back</option>
                                                <option value="Chest">Chest</option>
                                                <option value="Shoulder">Shoulder</option>
                                                <option value="Upper arm">Upper arm</option>
                                                <option value="Forearm">Forearm</option>
                                                <option value="Stomach">Stomach</option>
                                                <option value="Thigh">Thigh</option>
                                                <option value="Calf">Calf</option>
                                                <option value="Foot">Foot</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select class="form-control" id="size" required>
                                                <option value="" disabled selected style="display: none;">How big?</option>
                                                <option value="XS">XS - 0.5″ x 0.5″</option>
                                                <option value="S">S – 1″ x 2″</option>
                                                <option value="M">M – 2″ x 3″</option>
                                                <option value="L">L – 3″ x 4″</option>
                                                <option value="XL">XL – 5″ x 6″</option>
                                                <option value="XXL">XXL – 6″ x 7″</option>
                                                <option value="XXXL">XXXL – 8″ x 10″</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
										<div class="form-group">
											<span>Do you have reference photos?</span>
										</div>
                                    </div>
                                    <div class="col-sm-6">
										<div class="form-group">
                                        	<button type="button" class="btn btn-primary btn-block">Upload reference photos</button>
										</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="text-center">
                                            <input type="submit" value="Send message" class="btn btn-primary btn-block">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6" ng-repeat="faq in artistCtrl.faqs">
						<h5>{{faq.question}}</h5>
						<p>{{faq.answer}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
